* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
nav {
    display: flex;
    /* debug */
    background-color: gray;
    height: 100px;
    justify-content: space-between;
}
.sx, .dx {
    /* debug */
    height: 50px;
    background-color: green;
    border: 3px solid red;
}
.dx > li, .sx > li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 20px;
}
.aggiungi {
    display: none;
    position: absolute;
    left: 15px;
    top: 25px;
}
.aggiungi > li {
    list-style: none;
    margin: 5px 0;
}
.relativo {
    position: relative;
}
.dblock {
    display: block;
}
.dnone {
    display: none;
}